.contactoform{
    background-color: #283538;
    color: #ffffff;
    margin: 35px;
}

.seccioncontactos{
    padding: 20px;
    display: flex;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;

}