footer{
    background-color: #283538;
    margin-top: 35px;
    height: 50px;
    padding: 35px;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    width: auto;
    @include flex (center, center);
/* se que tengo que eliminar los otros estilos, pero como no me esta compilando bien scss lo dejo asi */

    ul{
        list-style-type: none;
        display: flex;

        li{
            a{
                color: #ffffff;
                font-family: Arial, Helvetica, sans-serif;
                text-decoration: none;
                margin: 15px;
                margin-top: 30px;
            }
        }
    }
}